body {
  padding-top: 50px;
  background-color: #505050;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
.column {
  padding: 5px;
}

#top {
  height: 58%;
}

#top.almostFull {
  height: 92%;
}

#top.full {
  height: 95%;
}

#debuggingBox {
  height: 34%;
}

#debuggingBox.tiny {
  height: 3%;
}

#hideBar {
  width: 50px;
  height: 25px;
  background-color: #AAAAAA;
  border: solid #888888;
  border-width: 2px;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%,0);
}

#hideBarButton {
  border: solid #FFFFFF;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: translate(0%,-50%) rotate(45deg);
  -webkit-transform: translate(0%,-50%) rotate(45deg);
}
