
.CodeMirror {
  height: 99%;
  border-radius: 5px;
  background-color: #F0F0F0;
}

.CodeMirror-gutters {
  background-color: #606060;
  color: #000000;
}

#grammarBox, #codeEditor, #compilerEndpoint {
 background-color: #F0F0F0;
 height: 100%;
 width: 100%;
 padding: 5px;
 border-radius: 10px;
 border-width: 5px;
 border-style: solid;
 margin-bottom: 0px;
}

#accordion {
  overflow: auto;
  height: 95%;
  margin: 0px;
  padding : 10px;
}

#codeEditor {
  background-color: #707070;
}

#syntaxBox {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#trafficLight {
  height: 34px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  position: relative;
  top: 0;
  text-align: center;
  padding: 5px;
}

#greenLight, #orangeLight, #redLight {
  display: inline-block;
  height: 24px;
  width: 30%;
  background-color: #B0B0B0;
  border-radius: 5%;
  margin: 0% 1%;
}

#redLight {
  left: 20%;
}
#greenLight {
  right: 20%;
}

#syntaxBox.ok {
  height: 10%;
}
#syntaxBox.waiting #redLight, #syntaxBox.waiting #orangeLight, #syntaxBox.waiting #greenLight {
  background-color: #B0B0B0;
}
#syntaxBox.ok #redLight, #syntaxBox.waiting #orangeLight {
  background-color: #B0B0B0;
}
#syntaxBox.ok #greenLight{
  background-color: green;
}
#syntaxBox.warning #redLight, #syntaxBox.waiting #greenLight {
  background-color: #B0B0B0;
}
#syntaxBox.warning #orangeLight{
  background-color: orange;
}
#syntaxBox.error #orangeLight, #syntaxBox.waiting #greenLight {
  background-color: #B0B0B0;
}
#syntaxBox.error #redLight{
  background-color: red;
}

#syntaxInfo {
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace; /* Use same width fonts */
}

#grammarBox {
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace; /* Use same width fonts */
}

#grammarBox .panel-group {
  white-space: normal;
  height: 95%;
  width: 100%;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}
#grammarBox .panel {
  width: 100%
  margin: 0px;
  padding: 0px;
}
#grammarBox .panel-heading {
  background-color: #303030;
  height: 30px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
#grammarBox .panel-heading a {
  color: #FFFFFF;
  height: 100%;
  position: relative;
  top: 20%;
}

#grammarBox .panel-body {
  white-space: pre;
  margin: 0px;
  padding: 5px;
}

#grammarBox #funcname, .cm-procfunc {
  color: #BB00BB;
}
#grammarBox #keyword, .cm-my-keyword {
  color: #000BBB;
}

.cm-macro {
  font-weight: bold;
}
