#VMButtons {
  background-color: #F0F0F0;
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px -0px;
  border: 0px;
}
#VMButtons .divider {
  background-color: #666;
  height: 1px;
}
#VMButtons a {
  color: #97CEFF;
  font-variant: small-caps;
  font-size: 28px;
  font-size: 1.5vw;
  text-align: center;
  height: 18%;
  vertical-align: 50%;
}

#runButton, #stepButton, #haltButton, #resetButton {
  background-color: #333;
}

#loadButton {
  background-color: #666;
}

#loadButton.enabled {
  background-color: #333;
}

#VMButtons .disabled {
  background-color: #666;
}

#virtualMachine, #runtimeInfo {
   background-color: #F0F0F0;
   height: 100%;
   padding: 5px;
   border-radius: 10px;
   border-width: 5px;
   border-style: solid;
   margin: 0px 0px;
}

#runtimeInfo {
  overflow: auto;
}

#runtimeInfo #vmErrorBox {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  padding: 0px 0px 0px 5px;
}

#runtimeInfo #lineCounter {
  width: 100%;
  background-color: #B0B0B0;
  padding: 0px 0px 0px 5px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

#runtimeInfo #variables {
  width : 100%;
  text-align: center;
}
#runtimeInfo #variables table {
  display: inline-table;
  min-width : 50%;
  border: 1px solid #111;
}
#runtimeInfo #variables tbody {
  display: table;
  width: 100%;
}
#runtimeInfo #variables tr:hover {
  background-color: #666;
}

#runtimeInfo #variables tr:nth-child(even) {
  background-color: #444;
}

#runtimeInfo #variables tr:nth-child(odd) {
  background-color: #555;
}

#runtimeInfo #variables th {
  width: 100%;
  background-color: #333;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  padding: 2px 5px;
  border: 1px solid #111;
}

#runtimeInfo #variables td {
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  padding: 2px 5px;
  border: 1px solid #111;
}

#microbit {
  background-color: #000000;
  height: 200px;
  width: 250px;
  border-radius: 3px;
  position: relative;
}

#microbitBottom {
  position: absolute;
  bottom: 0px;
  height: 25px;
  width: 100%;
  background-color: #CD9200;
}

#leftTriangle {
  width: 0;
  height: 0;
  border: solid 40px;
  border-color: #333333 transparent transparent transparent;
  transform: rotate(-45deg);
  position: absolute;
  left: 50px;
  bottom: 0px;
}
#lights {
  width: 110px;
  height: 110px;
  background-color: #333333;
  position: absolute;
  left: 75px;
  bottom: 40px;
}
#rightTriangle {
  width: 0;
  height: 0;
  border: solid 40px;
  border-color: #333333 transparent transparent transparent;
  transform: rotate(45deg);
  position: absolute;
  right: 50px;
  bottom: 0px;
}
#bottomScrewBar {
  width: 250px;
  height: 25px;
  background-color: #333333;
  position: absolute;
  bottom: 15px;
  z-index: 5;
}

#colourBar {
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 10;
}

#led1 {
  position: absolute;
  z-index: 15;
  left: 12px;
  top : 12px;
  width: 25px;
  height: 25px;
  background-color:white;
}
#led2 {
  position: absolute;
  z-index: 15;
  left: 43px;
  top : 12px;
  width: 25px;
  height: 25px;
  background-color:white;
}
#led3 {
  position: absolute;
  z-index: 15;
  left: 74px;
  top : 12px;
  width: 25px;
  height: 25px;
  background-color:white;
}

#led4 {
  position: absolute;
  z-index: 15;
  left: 12px;
  top : 43px;
  width: 25px;
  height: 25px;
  background-color:white;
}
#led5 {
  position: absolute;
  z-index: 15;
  left: 43px;
  top : 43px;
  width: 25px;
  height: 25px;
  background-color:white;
}
#led6 {
  position: absolute;
  z-index: 15;
  left: 74px;
  top : 43px;
  width: 25px;
  height: 25px;
  background-color:white;
}

#led7 {
  position: absolute;
  z-index: 15;
  left: 12px;
  top : 74px;
  width: 25px;
  height: 25px;
  background-color:white;
}
#led8 {
  position: absolute;
  z-index: 15;
  left: 43px;
  top : 74px;
  width: 25px;
  height: 25px;
  background-color:white;
}
#led9 {
  position: absolute;
  z-index: 15;
  left: 74px;
  top : 74px;
  width: 25px;
  height: 25px;
  background-color:white;
}
