#buttonBar .divider {
  margin: 5px 0px;
  background-color: #333;
  width: 1px;
  height: 40px;
}

#buttonBar>nav>ul>li  {
  height: 40px;
  padding: 0px 1px;
}

#buttonBar>nav>ul>li>a {
  color: #AAA;
  font-size: 13pt;
  font-variant: small-caps;
  width: auto;
}
#buttonBar>nav>ul>li>a:hover {
  color: #CCC;
  font-size: 14pt;
}

.dropdown-menu {
  background-color: #333;
}
.dropdown-menu>li {
  padding: 0px;
  margin: 0px;
  height: 30px;
  text-align: center;
}

a#noFormatting, a#autoFormatting {
  color: white;
  font-size: 13pt;
  font-variant: normal;
  background-color: #222
}
a#noFormatting:hover, a#autoFormatting:hover {
  background-color: #333
}
a#noFormatting.disabled, a#autoFormatting.disabled {
  color: #AAA;
  background-color: #444
}
a#noFormatting.disabled:hover, a#autoFormatting.disabled:hover {
  background-color: #444;
}

#brightnessBar {
  width: 150px;
  float: right;
  margin-top: 10px;
}

#brightnessBar ul {
  list-style-type: none;
}

#brightnessBar li {
  float: left;
  margin: 0px 5px;
}

#brightnessBar #brightnessBar1 {
  width: 4px;
  height: 30px;
  background-color: #505000;
}

#brightnessBar #brightnessBar2 {
  width: 4px;
  height: 30px;
  background-color: #505000;
}

#brightnessBar #brightnessBar3 {
  width: 4px;
  height: 30px;
  background-color: #505000;
}

#brightnessBar .brightnessButton {
  font-weight: bolder;
  font-size: 18pt;
  color: white;
}
